NullPointerException trying to view subjectDirectoryAttributes

<!--
NOTE: Before you file an issue, search for it to see if anyone has already reported it. 
-->

**Bug description**
A `java.lang.NullPointerException` is thrown when trying to view the `Subject Directory Attributes` extension. The issue is identical to #71, except with the `SubjectDirectoryAttributes` (`2.5.29.9`) extension instead of the `QCStatements` type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Examine a Certificate.'
2. Open a Certificate containing a valid subjectDirectoryAttributes section.
3. Click on 'Extensions' to show the 'Certificate Extensions' dialog.
4. Select/Click on the "Subject Directory Attributes" extension displayed in the list box.
5. See error

**Stacktrace**
```
java.lang.NullPointerException
	at org.kse.crypto.x509.X509Ext.getAttributeValueString(X509Ext.java:1889)
	at org.kse.crypto.x509.X509Ext.getSubjectDirectoryAttributesStringValue(X509Ext.java:522)
	at org.kse.crypto.x509.X509Ext.getStringValue(X509Ext.java:219)
	at org.kse.gui.dialogs.extensions.DViewExtensions.updateExtensionValue(DViewExtensions.java:300)
	at org.kse.gui.dialogs.extensions.DViewExtensions.access$000(DViewExtensions.java:84)
	at org.kse.gui.dialogs.extensions.DViewExtensions$1.valueChanged(DViewExtensions.java:173)
	at javax.swing.DefaultListSelectionModel.fireValueChanged(Unknown Source)
	at javax.swing.DefaultListSelectionModel.fireValueChanged(Unknown Source)
	at javax.swing.DefaultListSelectionModel.setValueIsAdjusting(Unknown Source)
	at javax.swing.plaf.basic.BasicTableUI$Handler.setValueIsAdjusting(Unknown Source)
	at javax.swing.plaf.basic.BasicTableUI$Handler.mouseReleased(Unknown Source)
	at java.awt.AWTEventMulticaster.mouseReleased(Unknown Source)
	at java.awt.Component.processMouseEvent(Unknown Source)
	at javax.swing.JComponent.processMouseEvent(Unknown Source)
... [redacted for length]
```

**Notes**
This appears to be the same bug as Issue #71 but for the certificate subjectDirectoryAttributes extension. The extension is defined in RFC3739, RFC5280 and RFC3280 (and maybe elsewhere I'm missing).

The SubjectDirectoryAttributtes is defined in https://tools.ietf.org/html/rfc5280.html#section-4.2.1.8 as:
```
SubjectDirectoryAttributes ::= SEQUENCE SIZE (1..MAX) OF Attribute

AttributeTypeAndValue ::= SEQUENCE {
  type     AttributeType,
  value    AttributeValue }
AttributeType ::= OBJECT IDENTIFIER
AttributeValue ::= ANY -- DEFINED BY AttributeType
```

An example ASN.1 encoding following https://tools.ietf.org/html/rfc3739#section-3.2.2 might look like:
```
SEQUENCE
{
    SEQUENCE
    {
        OBJECT IDENTIFIER=CountryOfCitizenship (1.3.6.1.5.5.7.9.4)
        SET
        {
            PRINTABLE STRING='US'
        }
    }
}
```

Another example using custom attributes might be:
```
SEQUENCE
{
    SEQUENCE
    {
        OBJECT IDENTIFIER=2.16.886.1.100.2.201
        SET
        {
            INTEGER=101 (0x65)
        }
    }
    SEQUENCE
    {
        OBJECT IDENTIFIER=2.16.886.1.100.2.202
        SET
        {
            UTF8 STRING='www.zptaiwan.com.tw'
        }
    }
}
```

And here is one of the certificates I used for testing (taken from https://censys.io/certificates):
```
-----BEGIN CERTIFICATE-----
MIIFDjCCA/agAwIBAgIDQhr8MA0GCSqGSIb3DQEBBQUAMF0xCzAJBgNVBAYTAlVT
MRgwFgYDVQQKEw9VLlMuIEdvdmVybm1lbnQxDDAKBgNVBAsTA0RvRDEMMAoGA1UE
CxMDUEtJMRgwFgYDVQQDEw9ET0QgRU1BSUwgQ0EtMzIwHhcNMTUwOTMwMDAwMDAw
WhcNMTgwOTI5MjM1OTU5WjB/MQswCQYDVQQGEwJVUzEYMBYGA1UEChMPVS5TLiBH
b3Zlcm5tZW50MQwwCgYDVQQLEwNEb0QxDDAKBgNVBAsTA1BLSTEMMAoGA1UECxMD
VVNBMSwwKgYDVQQDEyNQQVJLLkNIUklTVE9QSEVSLkZSQU5DSVMuMTAxNzI0NzA5
MDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMGFNVj6GkQxWp+S4+Gw
SIrhEnQi9/m0dHukOZXf/tZ0SqeSTD02J3ZhQXI2pkx3xOAepEQB5yh06EDZk06n
x5Zxph+eJI0OGUkOPyw+xVRLrDpMU3cqNN8JqNd1pO8pymdDsZ1p+0/nSZ+/ox/W
KzIpQqjLRBlX4eDpLzlS9fq7QQaFxE7f1zvj0F0IC7f3IpfphuBY/shPM2cM5ggM
1PHMxAjr/yUWVgTJx+fl2oxVxTK6cQIzYai+K7tpFZtXV8zXuj5WzQNnJHra8fvD
W2Cao9SHHmQHikwZGavOPgh7mY1+yGWc4B1eyF+u/MPRG3m3trnbV0JjlWLHnfO2
O+UCAwEAAaOCAbMwggGvMB8GA1UdIwQYMBaAFAqwqjhWR3sWfb6rk5a8VN2F++0s
MDoGA1UdHwQzMDEwL6AtoCuGKWh0dHA6Ly9jcmwuZGlzYS5taWwvY3JsL0RPREVN
QUlMQ0FfMzIuY3JsMA4GA1UdDwEB/wQEAwIGwDAjBgNVHSAEHDAaMAsGCWCGSAFl
AgELCTALBglghkgBZQIBCxMwHQYDVR0OBBYEFNMQ/0ecR9JcG6p/jmF5/CuuEnuZ
MGgGCCsGAQUFBwEBBFwwWjA2BggrBgEFBQcwAoYqaHR0cDovL2NybC5kaXNhLm1p
bC9zaWduL0RPREVNQUlMQ0FfMzIuY2VyMCAGCCsGAQUFBzABhhRodHRwOi8vb2Nz
cC5kaXNhLm1pbDBKBgNVHREEQzBBgR9jaHJpc3RvcGhlci5mLnBhcmsubWlsQG1h
aWwubWlsoB4GCisGAQQBgjcUAgOgEAwOMTAxNzI0NzA5MEBtaWwwGwYDVR0JBBQw
EjAQBggrBgEFBQcJBDEEEwJVUzApBgNVHSUEIjAgBgorBgEEAYI3FAICBggrBgEF
BQcDAgYIKwYBBQUHAwQwDQYJKoZIhvcNAQEFBQADggEBAIMEQt3kiS9qbvOAij4U
y5Y/7xOCroHAhaBUj52nGYm+/D/qCMSW8L4QN4mHvPHjvRry7ysFQT96WyLfA/P7
AJiKbaeiDoGEmJEOq0OYd9YHk7inkrPacp8cnA8GlH84LzFLeBHkD6lS9+mhTuvU
r7iZLNj158nguxbIolWxRwQRPVQFNk1ArqDDL/uLZ2PUXtbRqwlaihS5kdVznhnv
SNkdUY2KbYPhDPRy7VRQZbn+Inn4gUcJHe7NkLzutAw55kuCFWWVXV8/4tp4ikVC
aEwZrq2BsdPahk+A0spRH0FwFL1cO43VRxgElygOx0Vwz00B/BwuGlrAje1ZGV8D
0yY=
-----END CERTIFICATE-----
```

**Screenshots**
Identical to #71 

**Environment**
 * Version of KSE: 5.4.0
 * Version of Java: 1.8.0_181
 * Platform (OS): Windows 7 Ultimate 64-bit

<!--
IMPORTANT: After submitting the issue, please be on the lookout for any follow-up questions we may have.
-->


Thanks for the excellent bug report! Much appreciated.

No problem, I know only too well the frustration of getting good feedback.

Thank you for the quick response and commits; I don't have an environment for building Java right now so I can't test it until the next Release, but I very much appreciate the tool - it's been very useful to me.