Certificate Revocation (CRL/OCSP) Validation Not Working When Using Bouncy Castle as PKIX Provider in CertPathValidator

System Properties com.sun.net.ssl.checkRevocation and ocsp.enable Have No Effect When Using Bouncy Castle (BC) as Provider in CertPathValidator

<img width="946" height="527" alt="Image" src="https://github.com/user-attachments/assets/2127f979-f525-4fa0-8f76-1c35c19efc3e" />

<img width="685" height="645" alt="Image" src="https://github.com/user-attachments/assets/dfae6536-acfd-4679-9c91-eb3f98d067bb" />


That's a big problem, thanks for bringing that up. 

Looking at the BC implementation, there are a quite a few parameters that can be set for the `org.bouncycastle.jcajce.PKIXCertRevocationChecker`. 

Especially the java.security.cert.PKIXRevocationChecker.Option enum:
```
public enum Option {
        /**
         * Only check the revocation status of end-entity certificates.
         */
        ONLY_END_ENTITY,
        /**
         * Prefer CRLs to OSCP. The default behavior is to prefer OCSP. Each
         * PKIX implementation should document further details of their
         * specific preference rules and fallback policies.
         */
        PREFER_CRLS,
        /**
         * Disable the fallback mechanism.
         */
        NO_FALLBACK,
        /**
         * Allow revocation check to succeed if the revocation status cannot be
         * determined for one of the following reasons:
         * <ul>
         *  <li>The CRL or OCSP response cannot be obtained because of a
         *      network error.
         *  <li>The OCSP responder returns one of the following errors
         *      specified in section 2.3 of RFC 2560: internalError or tryLater.
         * </ul><br>
         * Note that these conditions apply to both OCSP and CRLs, and unless
         * the {@code NO_FALLBACK} option is set, the revocation check is
         * allowed to succeed only if both mechanisms fail under one of the
         * conditions as stated above.
         * Exceptions that cause the network errors are ignored but can be
         * later retrieved by calling the
         * {@link #getSoftFailExceptions getSoftFailExceptions} method.
         */
        SOFT_FAIL
    }
```

See also the possibilities mentioned in the JavaDoc description of  `java.security.cert.PKIXParameters.setRevocationEnabled()`


I'll take a look at this. I'll see about using the PKIXRevocationChecker.Option rather than relying on the system properties when using the SUN provider then I'll move to trying the BC provider.