[Cert. Ext.][Wanted feature] Request to decode all the 'PKIX certificate extensions' [id-pe] (`1.3.6.1.5.5.7.1.x` OID) certificate extension values

Hello KSE Team,

## Context
To continue:
- #618
- #621
- #631

And:
- #635

## Wanted feature
- Could KSE decode all the 'PKIX certificate extensions' [id-pe] (`1.3.6.1.5.5.7.1.x` OID) certificate extension values?

Ref.:
- https://www.iana.org/assignments/smi-numbers/smi-numbers.xhtml#smi-numbers-1.3.6.1.5.5.7.1

## Current status _(on KSE v 5.6.0+)_

### Legend 
Symbol | Meaning
--- | ---
✅ | managed in KSE
🔷 | partially managed in KSE
🔴 | not managed in KSE

### PKIX Certificate Extension (`1.3.6.1.5.5.7.1.*`)

Decimal | Description | Reference | Supported in KSE _(5.6.0)_ | Eligible on KSE <br>_(qualified for inclusion)_
--- | --- | --- | --- | ---
1 | id-pe-authorityInfoAccess | [RFC 2459](https://datatracker.ietf.org/doc/rfc2459) | 🔷 <br>_(only up to `1.3.6.1.5.5.7.48.5`)_ | 👍 
2 | id-pe-biometricInfo | [RFC 3039](https://datatracker.ietf.org/doc/rfc3039) | ✅ |  -
3 | id-pe-qcStatements | [RFC 3039](https://datatracker.ietf.org/doc/rfc3039) | 🔷 <br>_(only up to `0.4.0.1862.1.6`)_ | 👍 
4 | id-pe-ac-auditIdentity | [RFC 3281](https://datatracker.ietf.org/doc/rfc3281) | 🔴
5 | id-pe-ac-targeting | [Reserved and Obsolete] | 🔴 | 👎 
6 | id-pe-aaControls | [RFC 3281](https://datatracker.ietf.org/doc/rfc3281) | 🔴
7 | id-pe-ipAddrBlocks | [RFC 3779](https://datatracker.ietf.org/doc/rfc3779) | 🔴
8 | id-pe-autonomousSysIds | [RFC 3779](https://datatracker.ietf.org/doc/rfc3779) | 🔴
9 | id-pe-sbgp-routerIdentifier | [Reserved and Obsolete] | 🔴 | 👎 
10 | id-pe-ac-proxying | [RFC 3281](https://datatracker.ietf.org/doc/rfc3281) | 🔴
11 | id-pe-subjectInfoAccess | [RFC 3280](https://datatracker.ietf.org/doc/rfc3280) | 🔷 <br>_(only up to `1.3.6.1.5.5.7.48.5`)_  | 👍
12 | id-pe-logotype | [RFC 9399](https://datatracker.ietf.org/doc/rfc9399) | ✅ or 🔷| -
13 | id-pe-wlanSSID | [RFC 4334](https://datatracker.ietf.org/doc/rfc4334) | 🔴
14 | id-pe-proxyCertInfo | [RFC 3820](https://datatracker.ietf.org/doc/rfc3820) | 🔴
15 | id-pe-acPolicies | [RFC 4476](https://datatracker.ietf.org/doc/rfc4476) | 🔴
16 | id-pe-warranty | [RFC 4059](https://datatracker.ietf.org/doc/rfc4059) | 🔴
17 | id-pe-sim | [Reserved and Obsolete] | 🔴 | 👎 
18 | id-pe-cmsContentConstraints | [RFC 6010](https://datatracker.ietf.org/doc/rfc6010) | 🔴
19 | id-pe-otherCerts | [RFC 5697](https://datatracker.ietf.org/doc/rfc5697) | 🔴
20 | id-pe-wrappedApexContinKey | [RFC 5934](https://datatracker.ietf.org/doc/rfc5934) | 🔴
21 | id-pe-clearanceConstraints | [RFC 5913](https://datatracker.ietf.org/doc/rfc5913) | 🔴
22 | id-pe-skiSemantics | [Reserved and Obsolete] | 🔴 | 👎 
23 | id-pe-nsa | [RFC 7169](https://datatracker.ietf.org/doc/rfc7169) | 🔴 | 👎 
24 | id-pe-tlsfeature | [RFC 7633](https://datatracker.ietf.org/doc/rfc7633) | 🔴
25 | id-pe-mud-url | [RFC 8520](https://datatracker.ietf.org/doc/rfc8520) | 🔴
26 | id-pe-TNAuthList | [RFC 8226](https://datatracker.ietf.org/doc/rfc8226) | 🔴
27 | id-pe-JWTClaimConstraints | [RFC 8226](https://datatracker.ietf.org/doc/rfc8226) | 🔴
28 | id-pe-ipAddrBlocks-v2 | [RFC 8360](https://datatracker.ietf.org/doc/rfc8360) | 🔴
29 | id-pe-autonomousSysIds-v2 | [RFC 8360](https://datatracker.ietf.org/doc/rfc8360) | 🔴
30 | id-pe-mudsigner | [RFC 8520](https://datatracker.ietf.org/doc/rfc8520) | 🔴
31 | id-pe-acmeIdentifier | [RFC 8737](https://datatracker.ietf.org/doc/rfc8737) | 🔴
32 | id-pe-masa-url | [RFC 8995](https://datatracker.ietf.org/doc/rfc8995) | 🔴
33 | id-pe-eJWTClaimConstraints | [RFC 9118](https://datatracker.ietf.org/doc/rfc9118) | 🔴
34 | id-pe-nftypes | [RFC 9310](https://datatracker.ietf.org/doc/rfc9310) | 🔴
35 | id-pe-cmw | [RFC-ietf-rats-msg-wrap-22, Section 4.4](https://www.iana.org/go/draft-ietf-rats-msg-wrap-22#section-4.4) | 🔴
36 | id-pe-relatedCert | [RFC 9763](https://datatracker.ietf.org/doc/rfc9763) | 🔴


Regards,
Th.

It should work now.